<div class="header no-space">
  <div class="banner w100" style="background: url('<%= image_url('tmp/chateau_val.jpg') %>') no-repeat center fixed; -webkit-background-size: cover; background-size: cover;">
  </div>
  <%= link_to t('offers.see_all'), '#', class: 'left w50 center w50-button offers-button' %>
  <%= link_to t('locations.see_all'), '#', class: 'left w50 center w50-button locations-button' %>
</div>
<div class="clear"></div>
