<%= simple_form_for(resource, url: user_session_path, method: :post) do |f| %>
    <!--TODO: Handle errors-->
    <%= f.input :email, as: :hidden, value: @user.email %>
    <div class="ui action input">
      <%= f.input :password, wrapper: false, label: false, input_html: { autofocus: true } %>
      <%= f.button :submit, value: 'Sign in', class: 'ui icon button' %>
    </div>
<% end %>
