<div class="container home">
  <div class="user-form">
    <%= @errors %>
    <div class="ui action input">
      <input name="email" type="email" placeholder="E-mail">
      <button class="ui icon button check-email" data-url="<%= user_preform_url %>">
        <i class="search icon"></i>
      </button>
    </div>
  </div>
</div>