<div class="container home">
  <div class="user-form">
    <div class="home-form">
      <input class="email-input" name="email" type="email" placeholder="E-mail" data-error="<%= t('activerecord.errors.models.user.attributes.email.invalid') %>" data-toggle=popover data-trigger=manual data-placement=bottom data-content="<%= "#{@errors.join('<br>')}" if @errors %>">
      <button class="button check-email ribbon" data-url="<%= user_preform_url %>">
        <%= fa_icon 'search' %>
      </button>
    </div>
  </div>
</div>