<div class="container home">
  <div class="user-form">
    <%= @errors %>
    <div class="home-form">
      <input name="email" type="email" placeholder="E-mail">
      <button class="button check-email ribbon" data-url="<%= user_preform_url %>">
        <%= fa_icon 'search' %>
      </button>
    </div>
  </div>
</div>