<div class="ui card offer <%= position %>">
  <span class="ui left corner label">
    <i class="icon eye white"></i>
  </span>
  <div class="image">
    <%= image_tag 'tmp/chateau_queribus.jpg' %>
  </div>
  <div class="content">
    <div class="header"><%= offer.name %></div>
    <div class="meta">
      <span>
    <i class="icon clock"></i>
        3 jours restants</span>
    </div>
    <div class="description">
      <%= offer.description %>
    </div>
  </div>
  <div class="extra content">
      <span>
    <i class="icon user"></i>
        22 bénéficiaires
      </span>
  </div>
</div>