<div class="ui container xlspace-t">
  <h1><%= @location.name %></h1>

  <div class="ui link cards">
    <% @offer_reductions.each do |offer| %>
        <%= render 'offer', offer: offer %>
    <% end %>
  </div>
</div>