<% content_for :banner do %>
    <%= render 'general/banner' %>
<% end %>

<div class="full-width-weighted xlspace-t">
  <h1><%= @location.name %></h1>

  <!--TODO: Align vertically cards-->
  <div class="cards-container">
    <% @offer_reductions.each_with_index do |offer| %>
        <%= render (Random.rand(2) % 2 == 0 ? 'offer_small' : 'offer'), offer: offer %>
    <% end %>
    <div class="clear"></div>
  </div>
</div>