<div class="ui container xlspace-t">
  <h1><%= @location.name %></h1>

  <% @offer_reductions.each_with_index do |offer, i| %>
      <% case i % 3 %>
      <% when 0 %>
          <% position = 'left' %>
      <% when 1 %>
          <% position = 'right' %>
      <% else %>
          <% position = 'mauto-lr' %>
      <% end %>
      <%= render 'offer', offer: offer, position: position %>
  <% end %>
  <div class="clear"></div>
</div>