@import 'globals';

.space-b { margin-bottom: 10px }
.space-l { margin-left: 10px }
.space-r { margin-right: 10px }
.space-t { margin-top: 10px }
.lspace-r { margin-right: 20px }
.lspace-l { margin-left: 20px }
.lspace-t { margin-top: 20px }
.lspace-b { margin-bottom: 20px }
.xlspace-l { margin-left: 30px }
.xlspace-r { margin-right: 30px }
.xlspace-b { margin-bottom: 30px }
.xlspace-t { margin-top: 30px }
.xxlspace-t { margin-top: 50px }
.xxlspace-b { margin-bottom: 50px }
.xxlspace-l { margin-left: 40px }
.xxlspace-r { margin-right: 40px }
.no-space { margin: 0 }
.no-space-b { margin-bottom: 0 }
.no-space-t { margin-top: 0 }
.no-space-l { margin-left: 0 }
.no-space-r { margin-bottom: 0 }
.p-top { padding-top: 20px }
.p-bot { padding-bottom: 20px }
.p-left { padding-left: 20px }
.p-right { padding-right: 20px }
.lp-bot { padding-bottom: 30px }
.lp-top { padding-top: 30px }
.lp-right { padding-right: 30px }
.lp-left { padding-left: 30px }
.xlp-bot { padding-bottom: 40px }
.xlp-top { padding-top: 40px }
.xlp-right { padding-right: 40px }
.xlp-left { padding-left: 40px }

.hidden { display: none }
.clear { clear: both }
.left { float: left }
.right { float: right }
.w30 { width: 30% }
.w50 { width: 50% }
.w100 { width: 100% }
.center { text-align: center }
.white { color: white }
.mauto-lr {
  margin-left: auto;
  margin-right: auto;
}

html, body {
  height: 100%;
}

body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}


.full-width-weighted {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;

  @media (max-width: 749px) {
    width: 90%;
  }

  @media (min-width: 750px) {
    width: 80%;
  }

  h1 {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

.banner {
  height: 400px;
}

.w50-button {
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  color: white;
  text-decoration: none;

  &:hover, &:visited {
    color: white;
  }

  &.offers-button {
    background-color: $ui_green;
  }

  &.locations-button {
    background-color: $ui_purple;
  }
}

.error-popover {
  &.up {
    //TODO: Without KUBE
    //@include arrow-top(#D92B2F, 10px, 20px);
    margin-top: 15px;
  }

  &.down {
    //TODO: Without KUBE
    //@include arrow-top(#D92B2F, 10px, 20px);
    margin-bottom: 15px;
  }

  position: relative;
  max-width: 310px;
  background-color: #D92B2F;
  color: white;
  border-radius: 5px;

  p {
    margin: 0;
    padding: 10px;
  }
}

.ribbon {
  position: absolute;
  color: white;
  line-height: 18px;
  top: 0;
  right: 0;
  height: 0;
  width: 0;
  border-right: 45px solid $ui_green;
  border-bottom: 45px solid transparent;
  border-top: 0;
  border-left: 0;
  background-color: transparent;
  padding: 0;
  border-radius: 0;

  i {
    position: relative;
    top: 7px;
    left: 25px;
    color: white;
  }
}