// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "general";

.location {
  position: relative;
  margin: 0 auto 25px auto;
  width: 250px;
  height: 150px;
  overflow: hidden;

  &.add {
    color: white;
    background-color: $ui_green;
    line-height: 150px;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
  }

  .redactor-box {
    height: 18px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5px;
    background: rgba(0, 0, 0, 1);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 80%, rgba(255, 255, 255, 0) 100%);
  }

  .redactor-editor {
    background: transparent;
    border: none;
    padding: 0;
  }
}

.cards-container {
  a:hover {
    text-decoration: none;
  }
}

.redactor-dropdown-white {
  background-color: gray;
  span {
    color: white;
  }
}