// Place all the styles related to the offer_reductions controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

//TODO: Remove
@import "globals";

.cards-container {
  position: relative;
  width: 100%;

  .ui.card {
    &:first-child {
      margin-top: 1em;
    }

    position: absolute;

    .ui.corner.label {
      color: $cardz-green;
      border-color: $cardz-green;
    }
  }
}
