// Place all the styles related to the offer_reductions controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

//TODO: Remove
@import "globals";

.cards-container {
  text-align: left;

  .card {
    margin: 0 auto 25px auto;
  }
}

.after-load {
  opacity: 0;
}

.cssload-thecube {
  margin-top: 50px;
}