<div>
  <div class="location" style="background-image: url(<%= image_url('tmp/chateau_queribus.jpg') %>); background-size: cover">
    <button class="button ribbon" data-url="#">
      <%= fa_icon 'eye' %>
    </button>
    <div class="bottom-legend white"><%= location.name %></div>
  </div>
</div>
